@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--csn--primary);
}

:root {
  --csn--blue-text: #3558b7;
  --csn--primary: #3558b7;
  --font-family: "Overpass", sans-serif;
}

body {
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: #ffff;
  color: var(--bs-dark);
  height: 100%;
  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}


.header-top{
  background: linear-gradient(270deg,#8f1717,#d22122);
  padding: .75rem .9375rem;
  font-size: 14px;
  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.btn{
  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.btn-danger{
  background-color: #c0161d;
  border-color: #c0161d;
  &.hover{
    &:hover{
      background-color: #fff;
      color: #000;
    }
  }
}

.banner-title{
  &.extra-bold{
    font-weight: 700;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  &.warning{
    color: #ef7918;
  }
  &.small-text{
    font-size: 12px;
    color: #5c9bad;
    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}

.navbar-brand{
  img{
    width: 90px;
    border: 1px solid #e9e9e9;
    border-radius: 50%;
    @media (max-width: 768px) {
      width: 60px;
    }
  }
}

.brand-title{
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 12px;
  }

}

.slider_section{
  height: 60vh;
  background-color: #fbf8f8;
  @media (max-width: 768px) {
    height: 100%;
  }
}

.reg-fee{
  position: relative;
  height: 190px;
  color: #fff;
  padding: 27px;
  .overlay-img{
    position: absolute;
    background-image: url(../images/bg-img.jpg);
    inset: 0;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fee-content{
    position: absolute;
    z-index: 1;
  }
}





.countdown-div{
  background: #5c9bad;
    border: 1px solid #5c9bad;
    padding: 7px;
    color: #fff;
    width: 110px;
    @media (max-width: 768px) {
      font-size: 8px;
    }
}


.payment-section{
  h3{
    font-size: 20px;
    font-weight: 700;
  }
  .line{
    background-color: #d7d7d7;
    height: 2px;
    width: 100%;
    position: relative;
    &::after{
      content: "";
      display: block;
      background: #ae1022;
      width: 12px;
      height: 12px;
      text-align: center;
      margin-bottom: 15px;
      margin-top: 5px;
      border-radius: 100%;
      position: absolute;
      top: -9px;
    }
  }
}

.payment-section{
  .payment{
    position: relative;
    height: 30vh;
    &::after{
      position: absolute;
      content: "";
      background-image: url(../images/veins.jpg);
      inset: 0;
      background-position: right;
      background-size: contain;
      background-repeat: no-repeat;
      @media (min-width: 768px) {
        top: -106px;
      }
    }
    .payment-methods{
      position: absolute;
      z-index: 9;
    }
    .image-box{
      border: 1px solid #e0dfdf;
      padding: 10px;
      border-radius: 4px;
      background-color: #fff;
      img{
        width: 150px;
        @media (max-width: 768px) {
          width: 80px;
        }
      }
    }
    @media (max-width: 768px) {
      height: 20vh;
    }
  }
}

.register{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.form-label{
  font-size: 13px;
    font-weight: 700;
}

.table{
  white-space: wrap;
  thead{
    tr{
      th{
        font-size: 0.85rem;
        @media (max-width: 768px) {
          font-size: 0.65rem;
        }
      }
    }
  }
  tbody{
    tr{
      td{
        font-size: 0.8rem;
        @media (max-width: 768px) {
          font-size: 0.6rem;
        }
      }
    }
  }

}

.register-section{
  background-color: #fbf8f8;
  .card-header{
    font-size: 13px;
  }
  .heading{
    color: #5c9bad;
  }
}

@media (max-width: 768px) {
  .form-control{
    padding: 0.275rem 0.65rem;
  }
  .form-label{
    font-size: 11px;
  }
}
