@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--csn--primary);
}

:root {
<<<<<<< HEAD
  --csn--blue-text: #404042;
  --csn--primary: #404042;
  --text-gray: #424647;
  --red-light: #ca1f20;
  --red-dark: #991818;
  --font-family: "Overpass", sans-serif;
}

body {
  font-size: 0.85rem;
  font-family: var(--font-family);
  background-color: #ffff;
  color: var(--bs-dark);
  height: 100%;
  @media (max-width: 768px) {
    font-size: 0.6rem;
  }
}

.container{
  padding: 0 2.75rem !important;
  @media (max-width: 768px) {
    padding: 0 1.65rem !important;
    
  }
}


.header-top{
  background: linear-gradient(270deg, #8f1717, #d22122);
  padding: .75rem 0;
  font-size: 0.8rem;
  @media (max-width: 768px) {
    font-size: 0.5rem;
    
  }
}

.btn{
  font-size: 0.8rem;
  border-radius: 1px;
  white-space: nowrap;

  &.btn-navy{
    background-color: var(--red-light);
    border-color: var(--red-light);
    color: #fff;
    &.hover{
      &:hover{
        background-color: #fff;
        color: #000;
      }
    }
    &.text-danger{
      background-color: white;
      color: var(--red-light) !important;
      border:var(--red-light) !important;
      font-weight: 700;
    }
  }
  &.btn-gray{
    background-color: #fff;
    color: var(--text-gray);
    border: 1px solid var(--text-gray);
    &:hover{
      background-color: var(--text-gray);
      color: #fff;
    }
  }
  &.countdown-div{
    background: var(--text-gray);
    border: 1px solid var(--text-gray);
    border-radius: 10px;
    color: #fff;
    @media (max-width: 768px) {
      font-size: 0.5rem;
        padding: 4px;
     }
   
  }
  @media (max-width: 768px) {
   font-size: 0.6rem;
  }
}







.banner-title{
  &.small-text{
    @media (max-width: 768px) {
      font-size: 0.65rem;
    }
  }
  &.main{
    background: -webkit-repeating-linear-gradient(58deg, #991818, #c71f20) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}

.navbar-brand{
  img{
    width: 55px;
    border: 1px solid #959595;
    border-radius: 50%;
    @media (max-width: 768px) {
      width: 38px;
    }
  }
}

.brand-title{
  font-size: 12px;
  font-weight: 800;
  line-height: 1.4;
  text-transform: uppercase;
  @media (max-width: 768px) {
    font-size: 10px;
  }
  .text-blue{
    color: var(--red-dark);
  }

}

.slider_section{
  height: 60vh;
  background-image: linear-gradient(2deg, rgb(198 31 32 / 4%), #f3f2f2);
  @media (max-width: 768px) {
    height: 100%;
  }
}

.reg-fee{
  position: relative;
  height: 205px;
  color: #fff;
  padding: 27px;
  .overlay-img{
    position: absolute;
    background-image: url(../images/bg-img.jpg);
    inset: 0;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fee-content{
    position: absolute;
    z-index: 1;
    font-size: 0.85rem;
    white-space: nowrap;

    @media (max-width: 768px) {
      font-size: 0.55rem;
      text-align: center;
=======
    --csn--blue-text: #404042;
    --csn--primary: #404042;
    --text-gray: #424647;
    --red-light: #ca1f20;
    --red-dark: #991818;
    --font-family: "Overpass", sans-serif;
}

body {
    font-size: 0.85rem;
    font-family: var(--font-family);
    background-color: #ffff;
    color: var(--bs-dark);
    height: 100%;
    @media (max-width: 768px) {
        font-size: 0.6rem;
>>>>>>> b3f236eda415e3086b8e1a43fbfafde9d00ee29d
    }
}

.container {
    padding: 0 2.75rem !important;
    @media (max-width: 768px) {
        padding: 0 1.65rem !important;
    }
}

<<<<<<< HEAD



=======
.header-top {
    background: linear-gradient(270deg, #8f1717, #d22122);
    padding: 0.75rem 0;
    font-size: 0.8rem;
    @media (max-width: 768px) {
        font-size: 0.5rem;
    }
}
>>>>>>> b3f236eda415e3086b8e1a43fbfafde9d00ee29d

.btn {
    font-size: 0.8rem;
    border-radius: 1px;
    white-space: nowrap;

    &.btn-navy {
        background-color: var(--red-light);
        border-color: var(--red-light);
        color: #fff;
        &.hover {
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
        &.text-danger {
            background-color: white;
            color: var(--red-light) !important;
            border: var(--red-light) !important;
            font-weight: 700;
        }
    }
<<<<<<< HEAD
  }
  .line{
    background-color: var(--red-light);
    height: 2px;
    width: 17%;
    position: relative;
    display: inline-block;
    &::after{
      content: "";
      display: block;
      background: var(--red-light);
      width: 12px;
      height: 12px;
      text-align: center;
      margin-bottom: 3px;
      margin-top: -6px;
      border-radius: 100%;
      position: absolute;
      top: 2px;
      right: 50%;
      @media (max-width: 768px) {
        right: 45%;
        width: 10px;
      height: 10px;
      }
=======
    &.btn-gray {
        background-color: #fff;
        color: var(--text-gray);
        border: 1px solid var(--text-gray);
        &:hover {
            background-color: var(--text-gray);
            color: #fff;
        }
    }
    &.countdown-div {
        background: var(--text-gray);
        border: 1px solid var(--text-gray);
        color: #fff;
        @media (max-width: 768px) {
            font-size: 0.5rem;
            padding: 4px;
        }
    }
    @media (max-width: 768px) {
        font-size: 0.6rem;
    }
}

.banner-title {
    &.small-text {
        @media (max-width: 768px) {
            font-size: 0.65rem;
        }
    }
    &.main {
        background: -webkit-repeating-linear-gradient(
            58deg,
            #991818,
            #c71f20
        ) !important;
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent !important;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.4rem;
        @media (max-width: 768px) {
            font-size: 0.8rem;
        }
    }
}

.navbar-brand {
    img {
        width: 55px;
        border: 1px solid #959595;
        border-radius: 50%;
        @media (max-width: 768px) {
            width: 38px;
        }
    }
}

.brand-title {
    font-size: 12px;
    font-weight: 800;
    line-height: 1.4;
    text-transform: uppercase;
    @media (max-width: 768px) {
        font-size: 10px;
    }
    .text-blue {
        color: var(--red-dark);
    }
}

.slider_section {
    height: 60vh;
    background-image: linear-gradient(2deg, rgb(198 31 32 / 4%), #f3f2f2);
    @media (max-width: 768px) {
        height: 100%;
    }
}

.reg-fee {
    position: relative;
    height: 240px;
    color: #fff;
    padding: 27px;
    .overlay-img {
        position: absolute;
        inset: 0;
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .fee-content {
        position: absolute;
        z-index: 1;
        font-size: 0.85rem;
        white-space: nowrap;

        @media (max-width: 768px) {
            font-size: 0.55rem;
            text-align: center;
        }
        @media (max-width: 768px) {
            left: 50%;
            transform: translateX(-76px);
        }

        .banner-title {
            font-size: 0.86rem;
            @media (max-width: 768px) {
                font-size: 0.7rem;
            }
        }
>>>>>>> b3f236eda415e3086b8e1a43fbfafde9d00ee29d
    }
    @media (max-width: 768px) {
        height: 170px;
        padding: 14px;
    }
}

.payment-section {
    h3 {
        font-size: 1.2rem;
        font-weight: 700;
        @media (max-width: 768px) {
            font-size: 0.8rem;
        }
    }
<<<<<<< HEAD
  }
}





.table{
  white-space: wrap;
  thead{
    tr{
      th{
        font-size: 0.72rem;
        background-color: #f5f5f5;
        vertical-align: middle;
        @media (max-width: 768px) {
          font-size: 0.62rem;
=======
    .line {
        background-color: var(--red-light);
        height: 2px;
        width: 17%;
        position: relative;
        display: inline-block;
        &::after {
            content: "";
            display: block;
            background: var(--red-light);
            width: 12px;
            height: 12px;
            text-align: center;
            margin-bottom: 3px;
            margin-top: -6px;
            border-radius: 100%;
            position: absolute;
            top: 2px;
            right: 50%;
            @media (max-width: 768px) {
                right: 45%;
                width: 10px;
                height: 10px;
            }
        }
        @media (max-width: 768px) {
            width: 41%;
>>>>>>> b3f236eda415e3086b8e1a43fbfafde9d00ee29d
        }
    }
<<<<<<< HEAD
  }
  tbody{
    tr{
      td{
        font-size: 0.7rem;
        @media (max-width: 768px) {
          font-size: 0.65rem;
=======
}

.payment-section {
    .payment {
        .image-box {
            border: 1px solid #e0dfdf;
            padding: 10px;
            border-radius: 4px;
            background-color: #fff;
            img {
                width: 145px;
                padding: 10px;
                @media (max-width: 768px) {
                    width: 60px;
                    padding: 2px;
                }
            }
        }
    }
}

.table {
    white-space: wrap;
    thead {
        tr {
            th {
                font-size: 0.72rem;
                background-color: #f5f5f5;
                vertical-align: middle;
                @media (max-width: 768px) {
                    font-size: 0.62rem;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 0.8rem;
                @media (max-width: 768px) {
                    font-size: 0.65rem;
                }
            }
        }
    }
}

.register-section {
    background-color: #fbf8f8;
    #search-nmc {
        border-radius: 0 5px 5px 0;
    }
    .card-header {
        font-size: 0.8rem;
    }
    @media (max-width: 768px) {
        .card-header {
            font-size: 0.65rem;
        }
        .card-body {
            padding: 9px;
>>>>>>> b3f236eda415e3086b8e1a43fbfafde9d00ee29d
        }
    }
}
<<<<<<< HEAD

.register-section{
  background-color: #fbf8f8;
  .card-header{
    font-size: 0.9rem;
     @media (max-width: 768px) {
        font-size: 0.7rem;
     }
  }
  .heading{
    color: var(--red-dark);
  }
}
.form-label{
  font-size: 0.75rem;
  font-weight: 700;
}
.form-control, .form-group{
  font-size: 0.8rem;
  span{
    font-size: 0.8rem;
  }
}


@media (max-width: 768px) {
  .form-label{
    font-size: 0.64rem;
  }
  .form-control, .form-group{
    font-size: 0.75rem;
  }
  .form-control{
    padding: 0.175rem 0.45rem;
  }
 
}


.footer-section{
  font-size: 0.7rem;
  background: var(--text-gray);
    color: #fff;
    
  @media (max-width: 768px) {
    font-size: 0.56rem;
  }
}


.fixed-vh{
  height: 100%;
  min-height: 100vh;
}



.message-section{
  background-color: #e5e5e5;
  .success-icon, .error-icon{
    width: 50px;
    margin-top: 5rem;
  }
  .success-title, .error-title{
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .message-section{
    .success-icon, .error-icon{
      width: 30px;
    }
    .success-title, .error-title{
      font-size: 1rem;
    }
  }
  
=======
.form-label {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
}
.form-control,
.form-group {
    font-size: 0.8rem;
    span {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .form-label {
        font-size: 0.64rem;
    }
    .form-control,
    .form-group {
        font-size: 0.75rem;
    }
    .form-control {
        padding: 0.175rem 0.45rem;
    }
}

.footer-section {
    font-size: 0.7rem;
    background: var(--red-dark);
    color: #fff;

    @media (max-width: 768px) {
        font-size: 0.56rem;
    }
}

.fixed-vh {
    height: 100%;
    min-height: 100vh;
}

.message-section {
    background-color: #e5e5e5;
    .success-icon,
    .error-icon {
        width: 50px;
        margin-top: 5rem;
    }
    .success-title,
    .error-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .message-section {
        .success-icon,
        .error-icon {
            width: 30px;
        }
        .success-title,
        .error-title {
            font-size: 1rem;
        }
    }
>>>>>>> b3f236eda415e3086b8e1a43fbfafde9d00ee29d
}
