@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--csn--primary);
}

:root {
  --csn--blue-text: #404042;
  --csn--primary: #404042;
  --font-family: "Overpass", sans-serif;
}

body {
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: #ffff;
  color: var(--bs-dark);
  height: 100%;
  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}

.container{
  padding: 0 2.75rem !important;
  @media (max-width: 768px) {
    padding: 0 1.65rem !important;
    
  }
}


.header-top{
  background: linear-gradient(270deg, #164a58, #357a8e);
  padding: .75rem 0;
  font-size: 0.9rem;
  @media (max-width: 768px) {
    font-size: 0.5rem;
    
  }
}

.btn{
  @media (max-width: 768px) {
    font-size: 10px;
        white-space: nowrap;
  }
}

.btn-navy{
  background-color: #307285;
  border-color: #317386;
  color: #fff;
  &.hover{
    &:hover{
      background-color: #fff;
      color: #000;
    }
  }
  &.text-danger{
    background-color: white;
    color: #c0161d !important;
    border:#c0161d !important;
    font-weight: 700;
  }
}

.banner-title{
  &.small-text{
    @media (max-width: 768px) {
      font-size: 0.65rem;
    }
  }
  &.main{
    background: -webkit-repeating-linear-gradient(58deg, #295865, #00b4e8) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4rem;
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }
}

.navbar-brand{
  img{
    width: 65px;
    border: 1px solid #959595;
    border-radius: 50%;
    @media (max-width: 768px) {
      width: 38px;
    }
  }
}

.brand-title{
  font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
  @media (max-width: 768px) {
    font-size: 10px;
  }
  .text-blue{
    color: #307285;
  }

}

.slider_section{
  height: 60vh;
  background-image: linear-gradient(2deg, #bbf0ff59, #f3f2f2);
  @media (max-width: 768px) {
    height: 100%;
  }
}

.reg-fee{
  position: relative;
  height: 205px;
  color: #fff;
  padding: 27px;
  .overlay-img{
    position: absolute;
    background-image: url(../images/bg-img.jpg);
    inset: 0;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .fee-content{
    position: absolute;
    z-index: 1;
    font-size: 0.85rem;
    @media (max-width: 768px) {
      font-size: 0.55rem;
        right: 23%;
        text-align: center;
        top: 20px;
    }
    .banner-title{
      font-size: 0.86rem;
      @media (max-width: 768px) {
        font-size: 0.7rem;
      }
    }
  }
  @media (max-width: 768px) {
    height: 170px;
    padding: 14px;
  }
}





.countdown-div{
  background: #357a8e;
  border: 1px solid #357a8e;
    padding: 7px;
    color: #fff;
    width: 92px;
    font-size: 0.8rem;
    @media (max-width: 768px) {
      font-size: 0.48rem;
      padding: 5px;
    width: 56px;
    }
}


.payment-section{
  h3{
    font-size: 1.2rem;
    font-weight: 700;
    @media (max-width: 768px) {
      font-size: 0.8rem;

    }
  }
  .line{
    background-color: #357a8d;
    height: 2px;
    width: 17%;
    position: relative;
    display: inline-block;
    &::after{
      content: "";
      display: block;
      background: #357a8e;
      width: 12px;
      height: 12px;
      text-align: center;
      margin-bottom: 3px;
      margin-top: -6px;
      border-radius: 100%;
      position: absolute;
      top: 2px;
      right: 50%;
      @media (max-width: 768px) {
        right: 45%;
      }
    }
    @media (max-width: 768px) {
      width: 41%;
    }
  }
}

.payment-section{
  .payment{
    .image-box{
      border: 1px solid #e0dfdf;
      padding: 10px;
      border-radius: 4px;
      background-color: #fff;
      img{
        width: 145px;
        padding: 10px;
        @media (max-width: 768px) {
          width: 60px;
          padding: 2px;
        }
      }
    }
  }
}

.register{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.form-label{
  font-size: 13px;
    font-weight: 700;
}

.table{
  white-space: wrap;
  thead{
    tr{
      th{
        font-size: 0.85rem;
        @media (max-width: 768px) {
          font-size: 0.65rem;
        }
      }
    }
  }
  tbody{
    tr{
      td{
        font-size: 0.8rem;
        @media (max-width: 768px) {
          font-size: 0.6rem;
        }
      }
    }
  }

}

.register-section{
  background-color: #fbf8f8;
  .card-header{
    font-size: 0.7rem;
  }
  .heading{
    color: #5c9bad;
  }
}

@media (max-width: 768px) {
  .form-control{
    padding: 0.175rem 0.45rem;
  }
  .form-label{
    font-size: 0.64rem;
  }
}


.footer-section{
  font-size: 0.7rem;
  background: #357a8e;
    color: #fff;
}


.fixed-vh{
  height: 80vh;
}



.message-section{
  background-image: linear-gradient(2deg, rgba(187, 240, 255, 0.3490196078), #f3f2f2);
  .success-icon, .error-icon{
    width: 80px;
  }
  .success-title, .error-title{
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .message-section{
    .success-icon, .error-icon{
      width: 40px;
    }
    .success-title, .error-title{
      font-size: 1rem;
    }
  }
  
}

.form-group{
  span{
    font-size: 0.8rem;
  }
}